[Unit]
Description=x-ui2 Service
After=network.target
Wants=network.target

[Service]
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/x-ui2/
ExecStart=/usr/local/x-ui2/x-ui2
Restart=on-failure

[Install]
WantedBy=multi-user.target
